<!DOCTYPE html>
<html>
  <head>
    <meta charaset="UTF-8">
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>投稿一覧</h1>
    <div class="contents">
      <div class="first-content">
        <% @contents.each do |content| %>
        <p><%= link_to content.title, content_path(content.id) %></p>
        <% end %>
      </div>
    </div>

  </body>
</html>
