<!DOCTYPE html>
<html>
  <head>
    <meta charaset="UTF-8">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="contents">
      <h1 class="heading-name">投稿一覧</h1>
      <ul class="content-lists">
        <% @contents.each do |content| %>
        <li><%= link_to content.title, content_path(content.id), id: "content-title" %></li>
        <% end %>
      </ul>
        <div class="push"></div>
    </div>
      <footer>
        <div class="footer-box">
          <h2 class="footer-exp">AthleteHub <span>2020.</span></h2>
        </div>
      </footer>
  </body>
</html>
