<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with model: @content, local: true do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :text, rows: "10" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>