<div class="contents row">
  <div class="container">
    <%= form_with model: @content, local: true do |f| %>
      <div class="contents-title">
      <p>タイトル</p>
      <%= f.text_field :title %>
      </div>
      <div class="contents-text">
      <p>内容</p>
      <%= f.text_area :text, rows: "10" %>
      </div>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>