.registration-form-box{
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.registration-title-box{
  text-align: center;
  margin-bottom: 40px;
}

.name-box{
  text-align: center;
  margin-bottom: 30px;
}

.username{
  border-radius: 20px;
  resize: none;
  width: 200px;
  height: 20px;
}
  
.email-box{
  text-align: center;
  margin-bottom: 60px;
}

.email{
  width: 300px;
  border-radius: 20px;
  border: 1px solid gray;
  height: 20px;
}

.password-box{
  text-align: center;
  margin-bottom: 30px;
}

.password{
  border-radius: 20px;
  width: 250px;
  border: 1px solid gray;
  height: 20px;
}

.pass-confirmation-box{
  text-align: center;
  margin-bottom: 60px;
}

.password-confirmation{
  border-radius: 20px;
  width: 250px;
  border: 1px solid gray;
  height: 20px;
}

.registrations-btn-box{
  text-align: center;
}

.registrations-btn{
  border-radius: 20px;
  width: 90px;
  border: none;
  height: 40px;
  background: #0066FF;
}

.footer{
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.footer-box{
  height: 80px;
}

.footer-exp{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}