.contents{
  min-height: 100vh;
  position: relative;
  width: 100vw;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding-bottom: 80px;
}

h1.heading-name{
  text-align: center;
  border-bottom: 1px solid red;
  margin: 0 auto;
  padding: 20px;
  width: 200px;
}

ul.content-lists{
  text-align: center;
  padding: 0 0 0 0;
}

li{
  padding: 0 0 20px 0;
}

a{
  text-decoration: none;
  color: black;
}

.index-push{
  height: 40px;
  width: 100vw;
  background-color: whitesmoke;
}

.footer{
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.footer-box{
  height: 80px;
}

.footer-exp{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}