p {
  margin: 0;
}

.contents-box{
  display: flex;
  background-color: whitesmoke;
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.post-container{
  background-color: whitesmoke;
}

.post-btn{
  border-radius: 20px;
  background: orange;
  border: none;
  width: 90px;
  height: 40px;
  color: white;
}

.title-box{
  text-align: center;
  margin-bottom: 40px;
}

.text-box{
  margin-bottom: 40px;
}

.content-text{
  resize: none;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid gray;
}

.content-title{
  border-radius: 20px;
  border: 1px solid gray;
}

.btn-box{
  text-align: center;
}
