p {
  margin: 0;
}

.contents-box{
  display: flex;
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.post-container{
  background-color: whitesmoke;
}

.content-title-box{
  text-align: center;
  margin-bottom: 40px;
}

.content-title{
  border-radius: 20px;
  border: 1px solid gray;
  height: 20px;
}

.content-text-box{
  margin-bottom: 40px;
}

.content-text{
  resize: none;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid gray;
}

.post-btn-box{
  text-align: center;
}

.post-btn{
  border-radius: 20px;
  background: orange;
  border: none;
  width: 90px;
  height: 40px;
  color: white;
}


.footer{
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.footer-box{
  height: 80px;
}

.footer-exp{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}