.post-detail-container{
  min-height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.main-container{
  text-align: center;
}

.post-contributor-box{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.post-contributor{
  text-align: center;
  width: 60%;
}

.post-title-box{
  display: flex;
  justify-content: center;
}

.post-title{
  margin: 0px;
  padding: 0px;
  text-align: center;
  width: 60%;
}

.post-text-box{
  display: flex;
  justify-content: center;
}

.post-text{
  text-align: center;
  width: 60%;
}

a.delete-btn{
  font-size: 12px;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  background: black;
  padding: 12px;
}

.sub-container{
  text-align: center;
}

.comment-post-title{
  font-size: 30px;
}

.comment-box{
  resize: none;
  width: 600px;
  height: 300px;
  border-radius: 20px;
}

.comment-post-btn{
  border-radius: 20px;
  background: #FF0066;
  border: none;
  width: 90px;
  height: 40px;
}

.comment-lists-title-box{
  margin: 0px;
  padding: 0px;
}

.comment-lists-title{
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
  padding: 0px;
}

.comment-lists{
  justify-content: center;
  display: flex;
}

.comment-detail{
  width: 60%;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-align: center;
}

.show-push{
  height: 40px;
  width: 100vw;
  background-color: whitesmoke;
}

.footer{
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: 0;
}

.footer-box{
  height: 80px;
}

.footer-exp{
  font-family: 'Open Sans', sans-serif;
  color: gray;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  text-align: center;
}