/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 header{
  height: 80px;
  background-color: #3399FF;
  display: flex;
}

.heading{
  width: 50%;
}

.navbar{
  width: 50%;
}

.nav-lists{
  display: flex;
  justify-content: space-around;
}

a.user-nickname{
  text-decoration: none;
  color: black;
}

a.logout{
  text-decoration: none;
  color: black;
}

a.login{
  text-decoration: none;
  color: black;
}

a.sign-up{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
  font-size: 20px;
}

p a{
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 20px 20px;
  text-decoration: none;
  color: black;
}

a.new-post{
  font-size: 20px;
  border: 1px solid black;
  padding: 12px;
  text-decoration: none;
  color: black;
  font-family: "Sawarabi Gothic";
}

footer{
  text-align: center;
  color: gray;
}

p{
  font-family: 'Open Sans', sans-serif;
}
 